In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
movie = pd.read_csv('movie_bd_v5.csv')
movie.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
532,tt0244244,102000000,147080413,Swordfish,John Travolta|Hugh Jackman|Halle Berry|Don Che...,Dominic Sena,Log On. Hack In. Go Anywhere. Get Everything.,Rogue agent Gabriel Shear is determined to get...,99,Action|Crime|Thriller,Village Roadshow Pictures|NPV Entertainment|Si...,6/7/2001,6.0,2001
1198,tt0816711,200000000,531865000,World War Z,Brad Pitt|Mireille Enos|Abigail Hargrove|Sterl...,Marc Forster,Remember Philly!,Life for former United Nations investigator Ge...,116,Action|Drama|Horror|Science Fiction|Thriller,Paramount Pictures|GK Films|Skydance Productio...,6/20/2013,6.7,2013
966,tt0298744,7000000,2062066,Auto Focus,Greg Kinnear|Willem Dafoe|Rita Wilson|Maria Be...,Paul Schrader,A day without sex is a day wasted.,"A successful TV star during the 1960s, former ...",104,Drama|Crime,Sony Pictures Classics|Propaganda Films|Good M...,10/18/2002,5.9,2002
1543,tt0408345,45000000,82800000,Firewall,Harrison Ford|Paul Bettany|Virginia Madsen|Car...,Richard Loncraine,Nothing Is More Dangerous Than A Man With Ever...,State-of-the-art security system creator Jack ...,105,Thriller,Village Roadshow Pictures|Thunder Road Picture...,2/10/2006,5.4,2006
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [5]:
movie.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
#Создаем словарь для ответов
answers = {}

#Добавляем датафрейм колонку с прибылью
movie['profit']=movie['revenue']-movie['budget']

#С помощью модуля datetime преобразовываем колонку release_date таким образом, чтобы в ней 
#отображался месяц выхода фильма
import datetime
movie.release_date = movie.release_date.apply(
                                     lambda x: datetime.datetime.strptime(x, '%m/%d/%Y'))
movie.release_date = movie.release_date.apply(lambda x: x.strftime('%B'))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
#Сортируем колонку бюджет по убыванию и выводим
#первую строку отсортированного датафрейма
top_budget = movie.sort_values(by='budget', ascending=False)
display(top_budget.head(1))

answers['1']='Pirates of the Caribbean: On Stranger Tides'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,May,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
#Сортируем колонку длительность по убыванию и выводим
#первую строку отсортированного датафрейма
max_runtime = movie.sort_values(by='runtime', ascending=False)
display(max_runtime.head(1))

answers['2']='Gods and Generals'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,February,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
#Сортируем колонку длительность по убыванию и выводим
#последнюю строку отсортированного датафрейма
min_runtime = movie.sort_values(by='runtime', ascending=False)
display(max_runtime.tail(1))

answers['3']='Winnie the Pooh'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,April,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [10]:
#Через функцию mean() по колонке длительность определяем 
#среднюю длительность фильмов
average_runtime = movie.runtime.mean()
display(round(average_runtime))

answers['4']='110'
#+

110

# 5. Каково медианное значение длительности фильмов?

In [11]:
#Через функцию median() по колонке длительность определяем 
#медианное значение длительности фильмов
median_runtime = movie.runtime.median()
display(int(median_runtime))

answers['5']='107'
#+

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
#Сортируем датафрейм по колонке прибыль по убыванию и выводим
#первую строку получившегося датафрейма
max_profit = movie.sort_values(by='profit', ascending=False)
display(max_profit.head(1))

answers['6']='Avatar'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,December,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [13]:
#Сортируем датафрейм по колонке прибыль по убыванию и выводим
#последнюю строку получившегося датафрейма
min_profit = movie.sort_values(by='profit', ascending=False)
display(max_profit.tail(1))

answers['7']='The Lone Ranger'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,July,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
#С помощью функции value_counts() подсчитываем количество фильмов, где
#объем сборов выше бюджета
over_budget = movie.value_counts(movie.revenue>movie.budget)
display(over_budget)

answers['8']='1478'
#+

True     1478
False     411
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
#Сортируем датафрейм и выводим фильмы 2008 года выпуска
movie2008 = movie.query('release_year==2008')

#Сортируем получившийся датафрейм по объему сборов
max_revenue_2008=movie2008.sort_values(by='revenue', ascending=False)
display(max_revenue_2008.head(1))

answers['9']='The Dark Knight'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,July,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
#Сортируем датафрейм и выводим фильмы 2012-2014 года выпуска
movie2012_2014 = movie.query('2012<=release_year<=2014')

#Сортируем получившийся датафрейм по объему сборов
#и выводим последнюю строку датафрейма
min_profit = movie2012_2014.sort_values(by='profit', ascending=False)
display(min_profit.original_title.tail(1))

answers['10']='The Lone Ranger'
#+

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [17]:
movie2=movie.copy()

#Разделяем жанры в колонке genres и выводим каждый 
#жанр на отдельной строке
movie2.genres = movie2.genres.str.split('|')
max_genres = movie2.genres.explode()

#Подсчитываем, сколько в датафрейме единиц каждого жанра
display(max_genres.value_counts())

answers['11']='Drama'
#+

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
#Сортируем датафрейм и выводим те значения, где 
#был получен доход
movie2 = movie.query('revenue>budget').copy()

#Разделяем жанры в колонке genres и выводим каждый 
#жанр на отдельной строке
movie2.genres = movie.genres.str.split('|')
movie2 = movie2.explode('genres')

#Подсчитываем количество прибыльных жанров
profit_genre = movie2.genres.value_counts()
display(profit_genre)

answers['12']='Drama'
#+

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [19]:
movie2 = movie.copy()

#Подсчитываем суммарные кассовые сборы по каждому режиссеру
best_director = movie2.groupby(['director'])['revenue'].sum()
display(best_director.sort_values(ascending=False))

answers['13']='Peter Jackson'
#+

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
movie2 = movie.copy()

#Разделяем режисеров в колонке director и выводим каждого 
#режисера на отдельной строке
movie2.director = movie2.director.str.split('|')
movie2 = movie2.explode('director')

#Выводим только те строки датафрейма, где у фильма жанр Action
action_movie = movie2[movie2.genres.str.contains('Action', na=False)]

#Группируем датафрейм по режисерам и подсчитываем количество фильмов
#в стиле Action на каждого режисера, сортируем по убыванию
display(action_movie.groupby(['director'])['director'].
        count().
        sort_values(ascending=False))

answers['14']='Robert Rodriguez'
#+

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
movie2 = movie.copy()

#Разделяем актеров в колонке cast и выводим каждого 
#актера на отдельной строке
movie2.cast = movie2.cast.str.split('|')
movie2 = movie2.explode('cast')

#Сортируем датафрейм, выводя фильмы 2012 года
movie2 = movie2.query('release_year==2012')

#Группируем датафрейм по актерам и подсчитываем суммарный 
#бюджет фильмов с участием каждого актера, сортируем по убыванию
display(movie2.groupby(['cast'])['revenue'].
        sum().
        sort_values(ascending=False))

answers['15']='Chris Hemsworth'
#+

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
movie2 = movie.copy()

#Разделяем актеров в колонке cast и выводим каждого 
#актера на отдельной строке
movie2.cast = movie2.cast.str.split('|')
movie2 = movie2.explode('cast')

#Сортируем датафроейм, выводя те фильмы, где бюджет
#был выше среднего
best_actor = movie2[movie.budget > movie.budget.mean()]

#Группируем получившийся датафрейм по актерам и подсчитываем 
#количество фильмов с цчастием каждого актера
display(best_actor.groupby('cast').
        imdb_id.count().
        sort_values(ascending=False))

answers['16']='Matt Damon'
#+

<ipython-input-22-12c005d21897>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  best_actor = movie2[movie.budget > movie.budget.mean()]

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: imdb_id, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
movie2 = movie.copy()

#Разделяем жанры в колонке genres и выводим каждый 
#жанр на отдельной строке
movie2.genres = movie2.genres.str.split('|')
movie2 = movie2.explode('genres')

#Выводим только те фильмы, где снимался Nicolas Cage
movie2 = movie2[movie2.cast.str.contains('Nicolas Cage', na=False)]

#Группируем датафрейм по жанрам и подсчитываем
#количество единиц каждого жанра
display(movie2.groupby('genres').imdb_id.count().sort_values(ascending=False))

answers['17']='Action'
#+

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
movie2 = movie.copy()

#Выводим только те фильмы, где в колонке production_companies
#есть Paramount Pictures
worst_paramount_films = movie2[movie2.production_companies.str.contains('Paramount Pictures', na=False)]

#Сортируем получившийся датафрейм по убыванию прибыли
display(worst_paramount_films.sort_values(by = 'profit').head(1))

answers['18']='K-19: The Widowmaker'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,July,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
movie2 = movie.copy()

#Группируем датафрейм по году выпуска фильма
#суммируем суммарные кассовые сборы по каждому году
#сортируем по убыванию
display(movie2.groupby(['release_year'])['revenue'].sum().
        sort_values(ascending=False))

answers['19']='2015'
#+

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [26]:
movie2 = movie.copy()

#Разделяем production_companies и выводим каждую 
#студию на отдельной строке
movie2.production_companies = movie2.production_companies.str.split('|')
movie2 = movie2.explode('production_companies')

#Выводим только те фильмы, где среди студий есть Warner Bros
best_year_for_warner = movie2[movie2.production_companies.str.contains('Warner Bros', na=False)]

#Сортируем датафрейм по году выпуска фильма и подсчитываем ежегодную прибыль
best_year_for_warner = best_year_for_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(best_year_for_warner)

answers['20']='2014'
#+

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
movie2 = movie.copy()

#Группируем датафрейм по месяцу выхода фильма
#подсчитываем количество фильмо, выпущенных в каждый месяц
best_month = movie2.groupby(['release_date']).imdb_id.count().sort_values(ascending=False)
display(best_month)

answers['21']='September'
#+

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [28]:
movie2 = movie.copy()

#Фильтруем датафрейм и выводим фильмы, выпущенные летом
summer_films=movie2.query('release_date in ["July", "August","June"]')

#Подсчитываем количество фильмов
display(summer_films.imdb_id.count())

answers['22']='450'
#+

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
movie2 = movie.copy()

#Разделяем режисеров в колонке director и выводим каждого 
#режисера на отдельной строке
movie2.director = movie2.director.str.split('|')
movie2 = movie2.explode('director')

#Выводим фильмы, выпущенные зимой
winter_films=movie2.query('release_date in ["December", "January","February"]')

#Группируем полученный датафрейм по режисерам, подсчитываем количество фильмов
display(winter_films.groupby(['director']).imdb_id.count().sort_values(ascending=False))

answers['23']='Peter Jackson'
#+

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
movie2 = movie.copy()

#Разделяем production_companies и выводим каждую 
#студию на отдельной строке
movie2.production_companies = movie2.production_companies.str.split('|')
movie2 = movie2.explode('production_companies')

#Добавляем в датафрейм колонку в длиной названия фильма
movie2['title_len'] = movie2['original_title'].apply(len)

#Группируем датафрейм по студиям
#высчитываем среднюю длину названия фильма, сортируем по убыванию
long_title=movie2.groupby(['production_companies']).title_len.mean().sort_values(ascending=False)
display(long_title)

answers['24']='Four By Two Productions'
#+

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [31]:
movie2 = movie.copy()

#Разделяем production_companies и выводим каждую 
#студию на отдельной строке
movie2.production_companies = movie2.production_companies.str.split('|')
movie2 = movie2.explode('production_companies')

#Добавляем в датафрейм колонку с длиной описания фильма
movie2['overview_len'] = movie2['overview'].apply(len)

#Группируем датафрейм по студиям и подсчитываем
#среднюю длину описания фильма, сортируем
long_overview = movie2.groupby(['production_companies']).overview_len.mean().sort_values(ascending=False)
display(long_overview)

answers['25']='Midnight Picture Show'
#+

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [32]:
movie2 = movie.copy()

#Определяем порог 1 процента лучших фильмов
best = movie2['vote_average'].quantile(q=0.99)

#Фильтруем датафрейм по условию
best_films = movie2[movie2['vote_average']>movie2['vote_average'].
                    quantile(q=0.99)]
display(best_films)

answers['26']='Inside Out'
#+

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,June,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,October,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,November,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,July,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,November,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,October,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,February,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,July,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,July,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,September,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,December,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,December,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,October,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,October,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
import itertools
movie2 = movie.copy()

#Разделяем актеров в колонке cast и выводим все возможные пары актеров 
#для каждого фильма на отдельной строке
movie2['cast']=movie2.cast.str.split('|').apply(lambda x: 
                                                list(itertools.combinations(x,2)))
movie2 = movie2.explode('cast')

#Подсчитываем количество пар и выводим первые 5 значений
display(movie2.cast.value_counts().head())

answers['27']='Daniel Radcliffe, Rupert Grint'
#+

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
Name: cast, dtype: int64

# Submission

In [37]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [35]:
len(answers)

27